@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    color: #fff;
    --s: 200px;
    /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    --c1: #d2b48c;
    --c2: #9b8467;
    --c3: #70614c;
    background: repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577), repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);

    p {
        margin: 0;
    }
}

div.cajaPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 100vh;
    margin: 10vh 10vw;
    border-radius: 10px;
    background-color: gray;

    div.caja1 {
        background-color: #00000020;

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 50px;
            background-color: #FFD700;
        }
    }

    div.cajaSecundaria {
        display: flex;
        flex-direction: row-reverse;
        width: 80vw;
        height: 150px;
        background-color: firebrick;

        div.caja2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 150px;
            background-color: #4e4f51;
        }

        div.caja3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 180px;
            height: 150px;
            background-color: #00000020;

            div {
                display: flex;
                justify-content: end;
                margin-bottom: 10px;
                background-color: black;

                p {
                    width: 50px;
                    text-align: center;
                }

                div.caja4 {
                    background-color: #00000020;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 200px;
                        height: 50px;
                        background-color: goldenrod;
                    }
                }

                div.caja5 {
                    display: flex;
                    justify-content: space-evenly;
                    width: 80vw;
                    height: 50px;
                    background-color: #00000020;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 50px;
                        background-color: goldenrod;
                    }
                }
            }
        }
    }
}