body {
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    --s: 200px;
    /* control the size */
    --c1: #d2b48c;
    --c2: #9b8467;
    --c3: #70614c;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    background-color: tan;
}

div.agregarPresupuesto {
    height: 240px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    form.agregarPresupuesto1 {
        background-color: beige;
        height: 200px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;

        h3 {
            margin: 0 0 15px 0;
        }

        input {
            text-align: center;
            font-family: "Nunito", sans-serif;
            width: auto;
            height: 25px;
            border-radius: 5px;
            border: 1px solid rgb(156, 133, 0);
        }

        button {
            background-color: rgb(146, 248, 172);
            margin-top: 15px;
            font-family: "Nunito", sans-serif;
            text-align: center;
            font-family: "Nunito", sans-serif;
            width: auto;
            height: 25px;
            border-radius: 5px;
            border: 1px solid rgb(156, 133, 0);
            cursor: pointer;
        }

        p {
            margin: 0;
        }

        p.error {
            background-color: rgb(255, 82, 82);
            margin: 10px 0px 15px 0px;
            padding: 2px;
            border-radius: 5px;
            border: 1px solid rgb(156, 133, 0);
        }
    }
}

nav.caja1 {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        background-color: gold;
        width: 350px;
        height: 40px;
        text-align: center;
        margin: 0;
        border-radius: 10px;
        padding-top: 5px;
    }
}

section.caja2 {
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;

    div.caja21 {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p.presupuesto {
            background-color: beige;
            border-radius: 5px;
            margin-bottom: 10px;
            text-align: end;
            padding: 12px 10px 5px 10px;
            height: 30px;
            width: 150px;
        }
    }

    form.caja22 {
        width: 20vw;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: beige;
        border-radius: 10px;

        h3 {
            margin: 0px 0px 0px 0px;
        }

        select {
            font-family: "Nunito", sans-serif;
            text-align: center;
            text-align: center;
            font-family: "Nunito", sans-serif;
            width: auto;
            height: 25px;
            border-radius: 5px;
            border: 1px solid rgb(156, 133, 0);
        }

        p {
            margin-bottom: 10px;
        }

        input {
            text-align: center;
            font-family: "Nunito", sans-serif;
            width: auto;
            height: 25px;
            border-radius: 5px;
            border: 1px solid rgb(156, 133, 0);
        }

        button {
            background-color: rgb(146, 248, 172);
            margin-top: 15px;
            font-family: "Nunito", sans-serif;
            text-align: center;
            font-family: "Nunito", sans-serif;
            width: auto;
            height: 25px;
            border-radius: 5px;
            border: 1px solid rgb(156, 133, 0);
            cursor: pointer;
        }

        p.error {
            background-color: rgb(255, 82, 82);
            margin: 10px 0px 15px 0px;
            padding: 2px;
            border-radius: 5px;
            border: 1px solid rgb(156, 133, 0);
        }
    }
}

aside.caja3 {
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        border: 1px solid #000;
        background-color: rgb(255, 217, 0);
        width: 150px;
        height: 27px;
        text-align: center;
        margin: 0;
        border-radius: 10px;
    }
}

footer.caja4 {
    min-height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;

    div.caja41 {
        background-color: beige;
        height: 80px;
        width: 70vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        border-radius: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;

        img {
            border: 1px solid gold;
            padding: 10px 10px;
            background-color: #fff;
            max-width: 120px;
            height: 60px;
            text-align: center;
            border-radius: 10px;
            margin: 10px;
            box-sizing: border-box;
        }

        p {
            border: 1px solid gold;
            background-color: #fff;
            border-radius: 5px;
            text-align: center;
            padding: 13px 10px 5px 10px;
            min-width: 40px;
        }

        button {
            background-color: rgb(248, 146, 146);
            font-family: "Nunito", sans-serif;
            text-align: center;
            width: 50px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid rgb(156, 133, 0);
            margin: 20px 0px;
            cursor: pointer;
        }
    }
}